[submodule "lib/screenFetch"]
	path = lib/screenFetch
	url = https://github.com/KittyKatt/screenFetch.git
[submodule "bash-git-prompt"]
	path = bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
