[submodule "lib/screenFetch"]
	path = lib/screenFetch
	url = https://github.com/KittyKatt/screenFetch.git
[submodule "bash-git-prompt"]
	path = bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "vim/bundle/puppet"]
	path = vim/bundle/puppet
	url = git://github.com/voxpupuli/vim-puppet.git
[submodule "powerline_cofiguration"]
	path = powerline_cofiguration
	url = https://github.com/steviedons/powerline_cofiguration.git
